:root {
    /* fonts */
    --font-charm: Charm;
    --font-tamil-mn: "Tamil MN";
    --font-stixgeneral: STIXGeneral;
  
    /* font sizes */
    --font-size-base: 45px;
  
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-red-100: #fd0000;
  }
  