body {
    margin: 0;
    line-height: normal;
  }
  .web-1920-1-child {
    position: absolute;
    top: 278px;
    right: 134px;
    background-color: #494a46;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 664px;
    height: 584px;
  }
  .random-word {
    position: absolute;
    top: 188.5px;
    left: 1320.5px;
    font-size: 40px;
    letter-spacing: 0.4px;
    font-family: var(--font-stixgeneral);
    color: var(--color-white);
    -webkit-text-stroke: 1px #070000;
  }
  .randoword,
  .web-1920-1-item {
    position: absolute;
    bottom: 87px;
    width: 231px;
    height: 73px;
  }
  .web-1920-1-item {
    right: 134px;
    background-color: #8eeb65;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .randoword {
    left: 1123px;
  }
  .a {
    text-transform: capitalize;
  }
  .l {
    color: red;
  }
  .ingo {
    text-transform: capitalize;
    color: var(--color-black);
  }
  .aslingo {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
  }
  .download-icon {
    position: absolute;
    top: 9px;
    right: 0;
    width: 76px;
    height: 82px;
    object-fit: cover;
  }
  .aslingo-parent {
    position: absolute;
    top: 26px;
    left: 63px;
    width: 487px;
    height: 117px;
    font-size: 100px;
    color: var(--color-red-100);
    font-family: var(--font-tamil-mn);
  }
  .web-1920-1-inner {
    position: absolute;
    bottom: 87px;
    left: 1418px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 73px;
    height: 73px;
  }
  .about,
  .practice {
    position: absolute;
    top: 48.5px;
    letter-spacing: 0.68px;
    -webkit-text-stroke: 1px #070000;
  }
  .practice {
    left: 755.5px;
  }
  .about {
    right: 133.5px;
  }
  .guide1 {
    margin: 0;
  }
  .guide {
    position: absolute;
    top: 48.5px;
    left: 1238.5px;
    letter-spacing: 0.68px;
    -webkit-text-stroke: 1px #070000;
  }
  .web-1920-1 {
    position: relative;
    background: linear-gradient(185.55deg, #fff, #9b3636);
    width: 100%;
    height: 1080px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-charm);
  }
  